.w3-left{
    border-color: black;
    background: black;
    color: blanchedalmond;
    border-radius: 30%;
    justify-content: space-between;
}
.w3-left:hover{
   background-color: darkolivegreen;}
